<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.dao.BookstoreMapper">
    <resultMap id="BaseResultMap" type="mybatis.model.Bookstore">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        DELETE FROM public.bookstore
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="mybatis.model.Bookstore" useGeneratedKeys="true">
        INSERT INTO public.bookstore (title)
        VALUES (#{title,jdbcType=VARCHAR})
    </insert>

    <update id="updateByPrimaryKey" parameterType="mybatis.model.Bookstore">
        UPDATE public.bookstore
        SET title = #{title,jdbcType=VARCHAR}
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT
            id,
            title
        FROM public.bookstore
        WHERE id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
            id,
            title
        FROM public.bookstore
    </select>
</mapper>